<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - RageRoomAdvisor</title>*@
    <title>RageRooms</title>

    <!-- Project's design (fonts) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/weather.js"></script>
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/rooms.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light customNavbar">
            <div class="container-fluid">
                <div class="navbar-header">                   
                    <a class="navbar-brand navLink" asp-controller="Home" asp-action="Index">RageRooms</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="RageRooms" asp-action="Index">Rooms</a></li>
                    <li><a asp-controller="Reservations" asp-action="Index">Reservations</a></li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Genres" asp-action="Index">Genres</a></li>
                        <li><a asp-controller="RageRooms" asp-action="Statistics">Statistics</a></li>
                    }
                </ul>                
                <ul class="nav navbar-nav navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
        <partial name="_CookieConsentPartial" />
    </header>
    <div class="container body-content">
        @RenderBody()
        <center>
            <div id="temperatureDiv">
                <br /><hr />
                <h4>How's the weather?</h4>
                <p>getting the weather info</p>
            </div>
        </center>
        <!-- Weather webservice -->
        <script src="https://query.yahooapis.com/v1/public/yql?q=select item, wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='Rishon LeZion, il') and u='c'&format=json&callback=weatherCallback"></script>
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year RageRooms ALL RIGHTS RESERVED</p></center>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>